{"openapi":"3.1.0","info":{"title":"Sixtyfour API","description":"Intelligence API for People and Entities. Deploy AI agents that investigate, resolve identities, map relationships, and surface risk signals","contact":{"name":"Sixtyfour","url":"https://sixtyfour.ai/","email":"support@sixtyfour.ai"},"license":{"name":"Proprietary"},"version":"1.0.0"},"servers":[{"url":"https://api.sixtyfour.ai","description":"Production"}],"paths":{"/find-email-bulk-async":{"post":{"tags":["Enrichment"],"summary":"Find Email (Bulk, Async)","description":"Find email addresses for a batch of leads; returns a job ID to poll.","operationId":"find_email_bulk_async_endpoint_find_email_bulk_async_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindEmailBulkRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/find-email-bulk":{"post":{"tags":["Enrichment"],"summary":"Find Email (Bulk, Sync)","description":"Find email addresses for a batch of leads in one call.","operationId":"find_email_bulk_endpoint_find_email_bulk_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindEmailBulkRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/find-email-async":{"post":{"tags":["Enrichment"],"summary":"Find Email (Async)","description":"Find a single person's email; returns a job ID to poll.","operationId":"find_email_async_endpoint_find_email_async_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindEmailRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/find-email":{"post":{"tags":["Enrichment"],"summary":"Find Email (Sync)","description":"Find a single person's email address.","operationId":"find_email_endpoint_find_email_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindEmailRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/find-phone-bulk-async":{"post":{"tags":["Enrichment"],"summary":"Find Phone (Bulk, Async)","description":"Find phone numbers for a batch of leads; returns a job ID to poll.","operationId":"find_phone_bulk_async_endpoint_find_phone_bulk_async_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindPhoneBulkRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/find-phone-bulk":{"post":{"tags":["Enrichment"],"summary":"Find Phone (Bulk, Sync)","description":"Find phone numbers for a batch of leads in one call.","operationId":"find_phone_bulk_endpoint_find_phone_bulk_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindPhoneBulkRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/find-phone-async":{"post":{"tags":["Enrichment"],"summary":"Find Phone (Async)","description":"Find a single person's phone number; returns a job ID to poll.","operationId":"find_phone_async_endpoint_find_phone_async_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindPhoneRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/find-phone":{"post":{"tags":["Enrichment"],"summary":"Find Phone (Sync)","description":"Find a single person's phone number.","operationId":"find_phone_endpoint_find_phone_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindPhoneRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/find-email-v2-bulk-async":{"post":{"tags":["Enrichment"],"summary":"Find Email V2 Bulk Async Endpoint","description":"V2: Find emails with full waterfall stats (provider attribution, cache hits, etc.)\n\nReturns raw waterfall response with complete metadata.","operationId":"find_email_v2_bulk_async_endpoint_find_email_v2_bulk_async_post","deprecated":true,"parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindEmailV2BulkRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}},"x-excluded":true}},"/find-email-v2-bulk":{"post":{"tags":["Enrichment"],"summary":"Find Email V2 Bulk Endpoint","description":"V2: Find emails with full waterfall stats (provider attribution, cache hits, etc.)\n\nReturns raw waterfall response with complete metadata.","operationId":"find_email_v2_bulk_endpoint_find_email_v2_bulk_post","deprecated":true,"parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindEmailV2BulkRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}},"x-excluded":true}},"/find-email-v2-async":{"post":{"tags":["Enrichment"],"summary":"Find Email V2 Async Endpoint","description":"V2: Find single email async with full waterfall stats.","operationId":"find_email_v2_async_endpoint_find_email_v2_async_post","deprecated":true,"parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindEmailV2Request"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}},"x-excluded":true}},"/find-email-v2":{"post":{"tags":["Enrichment"],"summary":"Find Email V2 Endpoint","description":"V2: Find single email sync with full waterfall stats.","operationId":"find_email_v2_endpoint_find_email_v2_post","deprecated":true,"parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindEmailV2Request"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}},"x-excluded":true}},"/find-phone-v2-bulk-async":{"post":{"tags":["Enrichment"],"summary":"Find Phone V2 Bulk Async Endpoint","description":"V2: Find phones with full waterfall stats.","operationId":"find_phone_v2_bulk_async_endpoint_find_phone_v2_bulk_async_post","deprecated":true,"parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindPhoneV2BulkRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}},"x-excluded":true}},"/find-phone-v2-bulk":{"post":{"tags":["Enrichment"],"summary":"Find Phone V2 Bulk Endpoint","description":"V2: Find phones with full waterfall stats.","operationId":"find_phone_v2_bulk_endpoint_find_phone_v2_bulk_post","deprecated":true,"parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindPhoneV2BulkRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}},"x-excluded":true}},"/find-phone-v2-async":{"post":{"tags":["Enrichment"],"summary":"Find Phone V2 Async Endpoint","description":"V2: Find single phone async with full waterfall stats.","operationId":"find_phone_v2_async_endpoint_find_phone_v2_async_post","deprecated":true,"parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindPhoneV2Request"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}},"x-excluded":true}},"/find-phone-v2":{"post":{"tags":["Enrichment"],"summary":"Find Phone V2 Endpoint","description":"V2: Find single phone sync with full waterfall stats.","operationId":"find_phone_v2_endpoint_find_phone_v2_post","deprecated":true,"parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindPhoneV2Request"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}},"x-excluded":true}},"/reverse-email-bulk-async":{"post":{"tags":["Enrichment"],"summary":"Reverse Email Lookup (Bulk, Async)","description":"Resolve people from a batch of email addresses; returns a job ID to poll.","operationId":"reverse_email_bulk_async_endpoint_reverse_email_bulk_async_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReverseEmailBulkRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/reverse-email-bulk":{"post":{"tags":["Enrichment"],"summary":"Reverse Email Lookup (Bulk, Sync)","description":"Resolve people from a batch of email addresses in one call.","operationId":"reverse_email_bulk_endpoint_reverse_email_bulk_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReverseEmailBulkRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/reverse-email-async":{"post":{"tags":["Enrichment"],"summary":"Reverse Email Lookup (Async)","description":"Resolve a person from their email address; returns a job ID to poll.","operationId":"reverse_email_async_endpoint_reverse_email_async_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReverseEmailRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/reverse-email":{"post":{"tags":["Enrichment"],"summary":"Reverse Email Lookup (Sync)","description":"Resolve a person from their email address.","operationId":"reverse_email_endpoint_reverse_email_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReverseEmailRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/reverse-phone-bulk-async":{"post":{"tags":["Enrichment"],"summary":"Reverse Phone Lookup (Bulk, Async)","description":"Resolve people from a batch of phone numbers; returns a job ID to poll.","operationId":"reverse_phone_bulk_async_endpoint_reverse_phone_bulk_async_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReversePhoneBulkRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/reverse-phone-bulk":{"post":{"tags":["Enrichment"],"summary":"Reverse Phone Lookup (Bulk, Sync)","description":"Resolve people from a batch of phone numbers in one call.","operationId":"reverse_phone_bulk_endpoint_reverse_phone_bulk_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReversePhoneBulkRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/reverse-phone-async":{"post":{"tags":["Enrichment"],"summary":"Reverse Phone Lookup (Async)","description":"Resolve a person from their phone number; returns a job ID to poll.","operationId":"reverse_phone_async_endpoint_reverse_phone_async_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReversePhoneRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/reverse-phone":{"post":{"tags":["Enrichment"],"summary":"Reverse Phone Lookup (Sync)","description":"Resolve a person from their phone number.","operationId":"reverse_phone_endpoint_reverse_phone_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReversePhoneRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/enrich-lead-async":{"post":{"tags":["Enrichment"],"summary":"Enrich Lead Async Endpoint","operationId":"enrich_lead_async_endpoint_enrich_lead_async_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichLeadInfo"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AsyncJobStartResponse"}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}},"x-excluded":true}},"/enrich-lead":{"post":{"tags":["Enrichment"],"summary":"Enrich Lead Endpoint","operationId":"enrich_lead_endpoint_enrich_lead_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichLeadInfo"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}},"x-excluded":true}},"/enrich-company-async":{"post":{"tags":["Enrichment"],"summary":"Enrich Company Async Endpoint","operationId":"enrich_company_async_endpoint_enrich_company_async_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichCompanyInfo"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AsyncJobStartResponse"}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}},"x-excluded":true}},"/enrich-company":{"post":{"tags":["Enrichment"],"summary":"Enrich Company Endpoint","operationId":"enrich_company_endpoint_enrich_company_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichCompanyInfo"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}},"x-excluded":true}},"/enrich-company-v2-async":{"post":{"tags":["Enrichment"],"summary":"Enrich Company V2 Async Endpoint","operationId":"enrich_company_v2_async_endpoint_enrich_company_v2_async_post","deprecated":true,"parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichCompanyInfo"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AsyncJobStartResponse"}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}},"x-excluded":true}},"/enrich-company-v2":{"post":{"tags":["Enrichment"],"summary":"Enrich Company V2 Endpoint","operationId":"enrich_company_v2_endpoint_enrich_company_v2_post","deprecated":true,"parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichCompanyInfo"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}},"x-excluded":true}},"/people-intelligence-async":{"post":{"tags":["Enrichment"],"summary":"People Intelligence (Async)","description":"Find and enrich a single person; returns a job ID to poll.","operationId":"people_intelligence_async_endpoint_people_intelligence_async_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichLeadInfo"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AsyncJobStartResponse"}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/people-intelligence":{"post":{"tags":["Enrichment"],"summary":"People Intelligence (Sync)","description":"Find and enrich a single person.","operationId":"people_intelligence_endpoint_people_intelligence_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichLeadInfo"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/company-intelligence-async":{"post":{"tags":["Enrichment"],"summary":"Company Intelligence (Async)","description":"Find and enrich a single company; returns a job ID to poll.","operationId":"company_intelligence_async_endpoint_company_intelligence_async_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichCompanyInfo"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AsyncJobStartResponse"}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/company-intelligence":{"post":{"tags":["Enrichment"],"summary":"Company Intelligence (Sync)","description":"Find and enrich a single company.","operationId":"company_intelligence_endpoint_company_intelligence_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichCompanyInfo"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/get-linkedin":{"post":{"tags":["Enrichment"],"summary":"Get Linkedin Endpoint","operationId":"get_linkedin_endpoint_get_linkedin_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetLinkedInRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}},"x-excluded":true}},"/qa-agent-async":{"post":{"tags":["Enrichment"],"summary":"QA Agent (Async)","description":"Run a research agent that answers a question about a person or company; returns a job ID to poll.","operationId":"qa_agent_async_endpoint_qa_agent_async_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QAAgentRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AsyncJobStartResponse"}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/qa-agent":{"post":{"tags":["Enrichment"],"summary":"QA Agent (Sync)","description":"Run a research agent that answers a question about a person or company.","operationId":"qa_agent_endpoint_qa_agent_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QAAgentRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/research-agent-async":{"post":{"tags":["Enrichment"],"summary":"Research Agent Async Endpoint","operationId":"research_agent_async_endpoint_research_agent_async_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResearchAgentRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AsyncJobStartResponse"}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}},"x-excluded":true}},"/research-agent":{"post":{"tags":["Enrichment"],"summary":"Research Agent Endpoint","operationId":"research_agent_endpoint_research_agent_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResearchAgentRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}},"x-excluded":true}},"/job-status/{job_id}":{"get":{"tags":["Enrichment"],"summary":"Job Status","description":"Poll the status of an async job and retrieve results when complete.\n\ncost_units=\"credits\" returns cost fields in credits (charge_credits, cost_credits)\ninstead of cents fields (charge_amount, cost_cents); the charge itself is unchanged.","operationId":"job_status_job_status__job_id__get","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","title":"Job Id"}},{"name":"cost_units","in":"query","required":false,"schema":{"enum":["cents","credits"],"type":"string","description":"Response cost unit.","default":"cents","title":"Cost Units"},"description":"Response cost unit."},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"200":{"description":"Current async job status. Completed enrichment jobs include the result under `result`.","content":{"application/json":{"schema":{"oneOf":[{"type":"object","required":["status","id","run_id","start_time"],"properties":{"status":{"type":"string","enum":["running","failed","cancelled","terminated","continued_as_new","timed_out"]},"id":{"type":"string"},"run_id":{"type":"string"},"start_time":{"type":"string","format":"date-time"}}},{"type":"object","required":["status","id","run_id","start_time","close_time","result"],"properties":{"status":{"type":"string","enum":["completed"]},"id":{"type":"string"},"run_id":{"type":"string"},"start_time":{"type":"string","format":"date-time"},"close_time":{"type":"string","format":"date-time"},"result":{"description":"Completed job result. Shape depends on task_type.","oneOf":[{"properties":{"structured_data":{"additionalProperties":true,"description":"Requested enrichment fields and extracted values.","title":"Structured Data","type":"object"},"confidence_score":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Overall confidence score for the enrichment result.","title":"Confidence Score"},"references":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"description":"Source references used to produce the result.","title":"References"},"notes":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Human-readable notes about the enrichment result.","title":"Notes"},"findings":{"anyOf":[{"items":{},"type":"array"},{"type":"null"}],"description":"Optional supporting findings produced by the enrichment agent.","title":"Findings"},"field_confidence":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"description":"Optional per-field confidence metadata.","title":"Field Confidence"}},"required":["structured_data"],"title":"EnrichmentJobResult","type":"object"},{"type":"object","description":"Object result for non-structured enrichment jobs, including waterfall and single block jobs.","additionalProperties":true},{"type":"array","description":"Array result for jobs that return multiple rows or records inline.","items":{"type":"object","additionalProperties":true}}]},"charge_amount":{"type":"number","description":"Total cents charged when cost_units=cents."},"charge_credits":{"type":"number","description":"Total credits charged when cost_units=credits."},"task_type":{"type":"string","example":"lead_enrichment"}}},{"type":"object","required":["status","id","run_id","start_time","close_time","results"],"properties":{"status":{"type":"string","enum":["completed"]},"id":{"type":"string"},"run_id":{"type":"string"},"start_time":{"type":"string","format":"date-time"},"close_time":{"type":"string","format":"date-time"},"results":{"type":"array","items":{"type":"object","additionalProperties":true,"properties":{"filename":{"type":"string"},"download_url":{"type":"string"}}}},"charge_amount":{"type":"number","description":"Total cents charged when cost_units=cents."},"charge_credits":{"type":"number","description":"Total credits charged when cost_units=credits."}}}]},"examples":{"running":{"summary":"Running job","value":{"status":"running","id":"job_123","run_id":"temporal-run-123","start_time":"2026-06-10T00:00:00Z"}},"completed_enrichment":{"summary":"Completed enrichment job","value":{"status":"completed","id":"job_123","run_id":"temporal-run-123","start_time":"2026-06-10T00:00:00Z","close_time":"2026-06-10T00:01:00Z","result":{"structured_data":{"email":"ada@example.com"},"confidence_score":0.92,"references":{"https://example.com":"Source page"},"notes":"Found and verified requested information."},"charge_amount":5,"task_type":"lead_enrichment"}},"completed_enrichment_credits":{"summary":"Completed enrichment job with cost_units=credits","value":{"status":"completed","id":"job_123","run_id":"temporal-run-123","start_time":"2026-06-10T00:00:00Z","close_time":"2026-06-10T00:01:00Z","result":{"structured_data":{"email":"ada@example.com"},"confidence_score":0.92,"references":{"https://example.com":"Source page"},"notes":"Found and verified requested information."},"charge_credits":0.5,"task_type":"lead_enrichment"}}}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/api/usage":{"get":{"tags":["Enrichment"],"summary":"Get Usage Stats","description":"Get usage statistics for the current machine credential.\ntime_window: Optional time window in seconds (default: 3600 = 1 hour)","operationId":"get_usage_stats_api_usage_get","parameters":[{"name":"time_window","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":3600,"title":"Time Window"}},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}},"x-excluded":true}},"/check-balance":{"get":{"tags":["Account"],"summary":"Check Balance","description":"Returns the current credit balance for the organization associated with 
[...]
