{"openapi":"3.1.0","info":{"title":"Sixtyfour API","description":"Intelligence API for People and Entities. Deploy AI agents that investigate, resolve identities, map relationships, and surface risk signals","contact":{"name":"Sixtyfour","url":"https://sixtyfour.ai/","email":"support@sixtyfour.ai"},"license":{"name":"Proprietary"},"version":"1.0.0"},"servers":[{"url":"https://api.sixtyfour.ai","description":"Production"}],"paths":{"/find-email-bulk-async":{"post":{"tags":["Enrichment"],"summary":"Find Email (Bulk, Async)","description":"Find email addresses for a batch of leads; returns a job ID to poll.","operationId":"find_email_bulk_async_endpoint_find_email_bulk_async_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindEmailBulkRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/find-email-bulk":{"post":{"tags":["Enrichment"],"summary":"Find Email (Bulk, Sync)","description":"Find email addresses for a batch of leads in one call.","operationId":"find_email_bulk_endpoint_find_email_bulk_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindEmailBulkRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/find-email-async":{"post":{"tags":["Enrichment"],"summary":"Find Email (Async)","description":"Find a single person's email; returns a job ID to poll.","operationId":"find_email_async_endpoint_find_email_async_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindEmailRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/find-email":{"post":{"tags":["Enrichment"],"summary":"Find Email (Sync)","description":"Find a single person's email address.","operationId":"find_email_endpoint_find_email_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindEmailRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/find-phone-bulk-async":{"post":{"tags":["Enrichment"],"summary":"Find Phone (Bulk, Async)","description":"Find phone numbers for a batch of leads; returns a job ID to poll.","operationId":"find_phone_bulk_async_endpoint_find_phone_bulk_async_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindPhoneBulkRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/find-phone-bulk":{"post":{"tags":["Enrichment"],"summary":"Find Phone (Bulk, Sync)","description":"Find phone numbers for a batch of leads in one call.","operationId":"find_phone_bulk_endpoint_find_phone_bulk_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindPhoneBulkRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/find-phone-async":{"post":{"tags":["Enrichment"],"summary":"Find Phone (Async)","description":"Find a single person's phone number; returns a job ID to poll.","operationId":"find_phone_async_endpoint_find_phone_async_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindPhoneRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/find-phone":{"post":{"tags":["Enrichment"],"summary":"Find Phone (Sync)","description":"Find a single person's phone number.","operationId":"find_phone_endpoint_find_phone_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindPhoneRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/reverse-email-bulk-async":{"post":{"tags":["Enrichment"],"summary":"Reverse Email Lookup (Bulk, Async)","description":"Resolve people from a batch of email addresses; returns a job ID to poll.","operationId":"reverse_email_bulk_async_endpoint_reverse_email_bulk_async_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReverseEmailBulkRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/reverse-email-bulk":{"post":{"tags":["Enrichment"],"summary":"Reverse Email Lookup (Bulk, Sync)","description":"Resolve people from a batch of email addresses in one call.","operationId":"reverse_email_bulk_endpoint_reverse_email_bulk_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReverseEmailBulkRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/reverse-email-async":{"post":{"tags":["Enrichment"],"summary":"Reverse Email Lookup (Async)","description":"Resolve a person from their email address; returns a job ID to poll.","operationId":"reverse_email_async_endpoint_reverse_email_async_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReverseEmailRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/reverse-email":{"post":{"tags":["Enrichment"],"summary":"Reverse Email Lookup (Sync)","description":"Resolve a person from their email address.","operationId":"reverse_email_endpoint_reverse_email_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReverseEmailRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/reverse-phone-bulk-async":{"post":{"tags":["Enrichment"],"summary":"Reverse Phone Lookup (Bulk, Async)","description":"Resolve people from a batch of phone numbers; returns a job ID to poll.","operationId":"reverse_phone_bulk_async_endpoint_reverse_phone_bulk_async_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReversePhoneBulkRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/reverse-phone-bulk":{"post":{"tags":["Enrichment"],"summary":"Reverse Phone Lookup (Bulk, Sync)","description":"Resolve people from a batch of phone numbers in one call.","operationId":"reverse_phone_bulk_endpoint_reverse_phone_bulk_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReversePhoneBulkRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/reverse-phone-async":{"post":{"tags":["Enrichment"],"summary":"Reverse Phone Lookup (Async)","description":"Resolve a person from their phone number; returns a job ID to poll.","operationId":"reverse_phone_async_endpoint_reverse_phone_async_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReversePhoneRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/reverse-phone":{"post":{"tags":["Enrichment"],"summary":"Reverse Phone Lookup (Sync)","description":"Resolve a person from their phone number.","operationId":"reverse_phone_endpoint_reverse_phone_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReversePhoneRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/people-intelligence-async":{"post":{"tags":["Enrichment"],"summary":"People Intelligence (Async)","description":"Find and enrich a single person; returns a job ID to poll.","operationId":"people_intelligence_async_endpoint_people_intelligence_async_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichLeadInfo"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LeadAsyncJobStartResponse"}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/people-intelligence":{"post":{"tags":["Enrichment"],"summary":"People Intelligence (Sync)","description":"Find and enrich a single person.","operationId":"people_intelligence_endpoint_people_intelligence_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichLeadInfo"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/company-intelligence-async":{"post":{"tags":["Enrichment"],"summary":"Company Intelligence (Async)","description":"Find and enrich a single company; returns a job ID to poll.","operationId":"company_intelligence_async_endpoint_company_intelligence_async_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichCompanyInfo"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AsyncJobStartResponse"}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/company-intelligence":{"post":{"tags":["Enrichment"],"summary":"Company Intelligence (Sync)","description":"Find and enrich a single company.","operationId":"company_intelligence_endpoint_company_intelligence_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichCompanyInfo"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/qa-agent-async":{"post":{"tags":["Enrichment"],"summary":"QA Agent (Async)","description":"Run a research agent that answers a question about a person or company; returns a job ID to poll.","operationId":"qa_agent_async_endpoint_qa_agent_async_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QAAgentRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AsyncJobStartResponse"}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/qa-agent":{"post":{"tags":["Enrichment"],"summary":"QA Agent (Sync)","description":"Run a research agent that answers a question about a person or company.","operationId":"qa_agent_endpoint_qa_agent_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QAAgentRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/job-status/{job_id}":{"get":{"tags":["Enrichment"],"summary":"Job Status","description":"Poll the status of an async job and retrieve results when complete.\n\ncost_units=\"credits\" returns cost fields in credits (charge_credits, cost_credits)\ninstead of cents fields (charge_amount, cost_cents); the charge itself is unchanged.","operationId":"job_status_job_status__job_id__get","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","title":"Job Id"}},{"name":"cost_units","in":"query","required":false,"schema":{"enum":["cents","credits"],"type":"string","description":"Response cost unit.","default":"cents","title":"Cost Units"},"description":"Response cost unit."},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"200":{"description":"Current async job status. Completed enrichment jobs include the result under `result`.","content":{"application/json":{"schema":{"oneOf":[{"type":"object","required":["status","id","run_id","start_time"],"properties":{"status":{"type":"string","enum":["running","failed","cancelled","terminated","continued_as_new","timed_out"]},"id":{"type":"string"},"run_id":{"type":"string"},"start_time":{"type":"string","format":"date-time"},"progress":{"type":"object","description":"Bulk runs only: rows enriched so far out of the total rows submitted.","properties":{"completed":{"type":"integer"},"total":{"type":"integer"}}},"investigation":{"description":"Stable identity and app link carried across xhigh lifecycle responses.\n\nLive workspace statistics stay on the Atlas resource endpoints so polling\na job never fans out into file, graph, or event count queries.","properties":{"id":{"description":"Atlas investigation ID.","title":"Id","type":"string"},"workspace_url":{"description":"Canonical Sixtyfour app URL for the investigation's Atlas workspace.","format":"uri","maxLength":2083,"minLength":1,"title":"Workspace Url","type":"string"}},"required":["id","workspace_url"],"title":"InvestigationReference","type":"object"}}},{"type":"object","required":["status","id","run_id","start_time","close_time","result"],"properties":{"status":{"type":"string","enum":["completed"]},"id":{"type":"string"},"run_id":{"type":"string"},"start_time":{"type":"string","format":"date-time"},"close_time":{"type":"string","format":"date-time"},"result":{"description":"Completed job result. Shape depends on task_type.","oneOf":[{"properties":{"structured_data":{"additionalProperties":true,"description":"Requested enrichment fields and extracted values.","title":"Structured Data","type":"object"},"confidence_score":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Overall confidence score for the enrichment result.","title":"Confidence Score"},"references":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"description":"Source references used to produce the result.","title":"References"},"notes":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Human-readable notes about the enrichment result.","title":"Notes"},"findings":{"anyOf":[{"items":{},"type":"array"},{"type":"null"}],"description":"Optional supporting findings produced by the enrichment agent.","title":"Findings"},"field_confidence":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"description":"Optional per-field confidence metadata.","title":"Field Confidence"},"investigation_id":{"anyOf":[{"type":"string"},{"type":"null"}],"deprecated":true,"description":"Deprecated compatibility field. Use the response envelope's `investigation.id`.","title":"Investigation Id"}},"required":["structured_data"],"title":"EnrichmentJobResult","type":"object"},{"type":"object","description":"Object result for non-structured enrichment jobs, including waterfall and single block jobs.","additionalProperties":true},{"type":"array","description":"Array result for jobs that return multiple rows or records inline.","items":{"type":"object","additionalProperties":true}}]},"charge_amount":{"type":"number","description":"Total cents charged when cost_units=cents."},"charge_credits":{"type":"number","description":"Total credits charged when cost_units=credits."},"task_type":{"type":"string","example":"lead_enrichment"},"investigation":{"description":"Stable identity and app link carried across xhigh lifecycle responses.\n\nLive workspace statistics stay on the Atlas resource endpoints so polling\na job never fans out into file, graph, or event count queries.","properties":{"id":{"description":"Atlas investigation ID.","title":"Id","type":"string"},"workspace_url":{"description":"Canonical Sixtyfour app URL for the investigation's Atlas workspace.","format":"uri","maxLength":2083,"minLength":1,"title":"Workspace Url","type":"string"}},"required":["id","workspace_url"],"title":"InvestigationReference","type":"object"}}},{"type":"object","required":["status","id","run_id","start_time","close_time","results"],"properties":{"status":{"type":"string","enum":["completed"]},"id":{"type":"string"},"run_id":{"type":"string"},"start_time":{"type":"string","format":"date-time"},"close_time":{"type":"string","format":"date-time"},"results":{"type":"array","items":{"type":"object","additionalProperties":true,"properties":{"filename":{"type":"string"},"download_url":{"type":"string"}}}},"charge_amount":{"type":"number","description":"Total cents charged when cost_units=cents."},"charge_credits":{"type":"number","description":"Total credits charged when cost_units=credits."}}}]},"examples":{"running":{"summary":"Running job","value":{"status":"running","id":"job_123","run_id":"temporal-run-123","start_time":"2026-06-10T00:00:00Z"}},"running_xhigh":{"summary":"Running xhigh job with Atlas workspace","value":{"status":"running","id":"job_123","run_id":"temporal-run-123","start_time":"2026-06-10T00:00:00Z","investigation":{"id":"29beab70-42e4-5d19-b3b1-9a28279ca19f","workspace_url":"https://app.sixtyfour.ai/atlas/29beab70-42e4-5d19-b3b1-9a28279ca19f/graph"}}},"running_bulk":{"summary":"Running bulk intelligence job","value":{"status":"running","id":"job_123","run_id":"temporal-run-123","start_time":"2026-06-10T00:00:00Z","progress":{"completed":120,"total":500}}},"completed_enrichment":{"summary":"Completed enrichment job","value":{"status":"completed","id":"job_123","run_id":"temporal-run-123","start_time":"2026-06-10T00:00:00Z","close_time":"2026-06-10T00:01:00Z","result":{"structured_data":{"email":"ada@example.com"},"confidence_score":0.92,"references":{"https://example.com":"Source page"},"notes":"Found and verified requested information."},"charge_amount":5,"task_type":"lead_enrichment"}},"completed_xhigh_enrichment":{"summary":"Completed xhigh enrichment with Atlas workspace","value":{"status":"completed","id":"job_123","run_id":"temporal-run-123","start_time":"2026-06-10T00:00:00Z","close_time":"2026-06-10T00:08:00Z","result":{"structured_data":{"current_role":"CEO"},"references":{"https://example.com":"Source page"},"notes":"Completed deep research."},"investigation":{"id":"29beab70-42e4-5d19-b3b1-9a28279ca19f","workspace_url":"https://app.sixtyfour.ai/atlas/29beab70-42e4-5d19-b3b1-9a28279ca19f/graph"},"charge_amount":50,"task_type":"lead_enrichment"}},"completed_enrichment_credits":{"summary":"Completed enrichment job with cost_units=credits","value":{"status":"completed","id":"job_123","run_id":"temporal-run-123","start_time":"2026-06-10T00:00:00Z","close_time":"2026-06-10T00:01:00Z","result":{"structured_data":{"email":"ada@example.com"},"confidence_score":0.92,"references":{"https://example.com":"Source page"},"notes":"Found and verified requested information."},"charge_credits":0.5,"task_type":"lead_enrichment"}}}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/check-balance":{"get":{"tags":["Account"],"summary":"Check Balance","description":"Returns the current credit balance for the organization associated with the API key.","operationId":"check_balance_endpoint_check_balance_get","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckBalanceResponse"}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/enrich-linkedin":{"post":{"tags":["Enrichment"],"summary":"Enrich LinkedIn Profile","description":"Fetch a LinkedIn profile and extract structured fields in a single LLM call.","operationId":"enrich_linkedin_endpoint_enrich_linkedin_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinkedInEnrichRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Async enrichment job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Job not found"}}}}}}},"/bulk-intelligence/people":{"post":{"tags":["Enrichment"],"summary":"People Intelligence (Bulk)","description":"Upload a CSV/JSON/NDJSON file and start a background bulk intelligence run.\n\nPoll `GET /job-status/{task_id}`; while running the response includes\n`progress` with the rows enriched so far out of the total, and on completion it\nincludes signed download links and `charge_amount` (total cents charged).\nRow-level failures pass through un-enriched; source-block failures fail the run.","operationId":"start_people_bulk_intelligence_workflow_bulk_intelligence_people_post","parameters":[{"name":"cost_units","in":"query","required":false,"schema":{"enum":["cents","credits"],"type":"string","description":"Response cost unit.","default":"cents","title":"Cost Units"},"description":"Response cost unit."},{"name":"Idempotency-Key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Optional idempotency key for retry-safe bulk submissions.","title":"Idempotency-Key"},"description":"Optional idempotency key for retry-safe bulk submissions."},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/Body_start_people_bulk_intelligence_workflow_bulk_intelligence_people_post"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkIntelligenceStartedResponse"}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Machine authentication required.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Machine authentication required"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}}}}},"/bulk-intelligence/company":{"post":{"tags":["Enrichment"],"summary":"Company Intelligence (Bulk)","description":"Upload a CSV/JSON/NDJSON file and start a background bulk intelligence run.\n\nPoll `GET /job-status/{task_id}`; while running the response includes\n`progress` with the rows enriched so far out of the total, and on completion it\nincludes signed download links and `charge_amount` (total cents charged).\nRow-level failures pass through un-enriched; source-block failures fail the run.","operationId":"start_company_bulk_intelligence_workflow_bulk_intelligence_company_post","parameters":[{"name":"cost_units","in":"query","required":false,"schema":{"enum":["cents","credits"],"type":"string","description":"Response cost unit.","default":"cents","title":"Cost Units"},"description":"Response cost unit."},{"name":"Idempotency-Key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Optional idempotency key for retry-safe bulk submissions.","title":"Idempotency-Key"},"description":"Optional idempotency key for retry-safe bulk submissions."},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/Body_start_company_bulk_intelligence_workflow_bulk_intelligence_company_post"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkIntelligenceStartedResponse"}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Machine authentication required.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Machine authentication required"}}}},"403":{"description":"Tier or feature not enabled for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"High tier company enrichment is not enabled for this org. Contact sales to request access."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}}}}},"/workflows/create_workflow":{"post":{"tags":["Workflow"],"summary":"Create Workflow","description":"Create a new workflow from a block graph definition.","operationId":"create_workflow_workflows_create_workflow_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateWorkflowRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowResponse"}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Caller does not have access to this workflow.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Access denied"}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"404":{"description":"Workflow, run, or job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Workflow not found"}}}},"409":{"description":"Workflow with the supplied ID already exists.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Workflow with ID 0123abcd-1234-5678-9abc-def012345678 already exists. Use update endpoint to modify existing workflows."}}}}}}},"/workflows/delete_workflow":{"post":{"tags":["Workflow"],"summary":"Delete Workflow","description":"Permanently delete a workflow definition. Existing run history is preserved.","operationId":"delete_workflow_workflows_delete_workflow_post","parameters":[{"name":"workflow_id","in":"query","required":true,"schema":{"type":"string","title":"Workflow Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowResponse"}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Caller does not have access to this workflow.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Access denied"}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"404":{"description":"Workflow, run, or job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Workflow not found"}}}},"409":{"description":"Workflow with the supplied ID already exists.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Workflow with ID 0123abcd-1234-5678-9abc-def012345678 already exists. Use update endpoint to modify existing workflows."}}}}}}},"/workflows/update_workflow":{"post":{"tags":["Workflow"],"summary":"Update Workflow","description":"Update a workflow's metadata or block definition. Creates the workflow if it doesn't exist.","operationId":"update_workflow_workflows_update_workflow_post","parameters":[{"name":"workflow_id","in":"query","required":true,"schema":{"type":"string","title":"Workflow Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateWorkflowRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowResponse"}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Caller does not have access to this workflow.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Access denied"}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"404":{"description":"Workflow, run, or job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Workflow not found"}}}},"409":{"description":"Workflow with the supplied ID already exists.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Workflow with ID 0123abcd-1234-5678-9abc-def012345678 already exists. Use update endpoint to modify existing workflows."}}}}}}},"/workflows/run":{"post":{"tags":["Workflow"],"summary":"Run Workflow","description":"Start a workflow run and return a job ID for tracking.\n\nSupports per-run spec overrides via `specs_override` and webhook input via\n`webhook_payload`. API-triggered `read_csv` workflows must provide\n`specs_override.resource_handle_id` from `/storage/csv/upload`.","operationId":"run_workflow_workflows_run_post","parameters":[{"name":"workflow_id","in":"query","required":true,"schema":{"type":"string","description":"Workflow ID to run","title":"Workflow Id"},"description":"Workflow ID to run"},{"name":"save_json","in":"query","required":false,"schema":{"type":"boolean","description":"Also save results as JSON","default":false,"title":"Save Json"},"description":"Also save results as JSON"},{"name":"result_formats","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Result formats to save. Repeat the parameter for multiple values, e.g. result_formats=csv&result_formats=ndjson.","title":"Result Formats"},"description":"Result formats to save. Repeat the parameter for multiple values, e.g. result_formats=csv&result_formats=ndjson."},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RunWorkflowBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowRunStartedResponse"}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Caller does not have access to this workflow.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Access denied"}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"404":{"description":"Workflow, run, or job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Workflow not found"}}}},"409":{"description":"Workflow with the supplied ID already exists.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Workflow with ID 0123abcd-1234-5678-9abc-def012345678 already exists. Use update endpoint to modify existing workflows."}}}}}}},"/workflows/runs/{run_id}/results/download-links":{"get":{"tags":["Workflow"],"summary":"List Run Result Downloads","description":"List a workflow run's results with 15-minute signed download URLs.","operationId":"list_run_results_with_download_links_workflows_runs__run_id__results_download_links_get","parameters":[{"name":"run_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Run Id"}},{"name":"format","in":"query","required":false,"schema":{"type":"string","description":"Result format: 'csv', 'json', or 'ndjson'","default":"csv","title":"Format"},"description":"Result format: 'csv', 'json', or 'ndjson'"},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WorkflowResultItemWithDownload"},"title":"Response List Run Results With Download Links Workflows Runs  Run Id  Results Download Links Get"}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Caller does not have access to this workflow.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Access denied"}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"404":{"description":"Workflow, run, or job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Workflow not found"}}}},"409":{"description":"Workflow with the supplied ID already exists.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Workflow with ID 0123abcd-1234-5678-9abc-def012345678 already exists. Use update endpoint to modify existing workflows."}}}}}}},"/workflows/runs":{"get":{"tags":["Workflow"],"summary":"List Workflow Runs","description":"List recent workflow runs for the organization, sorted by most recent first. Optionally filter by `status` (`running`, `completed`, `cancelled`, or `active` for queued+running) and `workflow_id`.","operationId":"list_workflow_runs_workflows_runs_get","parameters":[{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by status or use 'active' for queued+running","title":"Status"},"description":"Filter by status or use 'active' for queued+running"},{"name":"workflow_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by specific workflow ID","title":"Workflow Id"},"description":"Filter by specific workflow ID"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":500,"minimum":1,"default":100,"title":"Limit"}},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WorkflowRunResponse"},"title":"Response List Workflow Runs Workflows Runs Get"}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Caller does not have access to this workflow.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Access denied"}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"404":{"description":"Workflow, run, or job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Workflow not found"}}}},"409":{"description":"Workflow with the supplied ID already exists.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Workflow with ID 0123abcd-1234-5678-9abc-def012345678 already exists. Use update endpoint to modify existing workflows."}}}}}}},"/workflows/cancel":{"post":{"tags":["Workflow"],"summary":"Cancel Workflow Run","description":"Cancel an in-progress workflow run.","operationId":"cancel_workflow_run_workflows_cancel_post","parameters":[{"name":"job_id","in":"query","required":false,"schema":{"type":"string","description":"Run job_id to cancel","title":"Job Id"},"description":"Run job_id to cancel"},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancelWorkflowBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowCancelResponse"}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Caller does not have access to this workflow.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Access denied"}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"404":{"description":"Workflow, run, or job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Workflow not found"}}}},"409":{"description":"Workflow with the supplied ID already exists.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Workflow with ID 0123abcd-1234-5678-9abc-def012345678 already exists. Use update endpoint to modify existing workflows."}}}}}}},"/workflows/runs/{run_id}/live_status":{"get":{"tags":["Workflow"],"summary":"Get Workflow Run (Live Status)","description":"Get the live status and per-block progress for a workflow run.","operationId":"get_workflow_run_live_status_workflows_runs__run_id__live_status_get","parameters":[{"name":"run_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Run Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowLiveStatusResponse"}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Caller does not have access to this workflow.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Access denied"}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"404":{"description":"Workflow, run, or job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Workflow not found"}}}},"409":{"description":"Workflow with the supplied ID already exists.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Workflow with ID 0123abcd-1234-5678-9abc-def012345678 already exists. Use update endpoint to modify existing workflows."}}}}}}},"/workflows":{"get":{"tags":["Workflow"],"summary":"List Workflows","description":"List all workflows in the organization. Returns lightweight metadata without block definitions; use `GET /workflows/{workflow_id}` for the full definition.","operationId":"list_workflows_workflows_get","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WorkflowResponse"},"title":"Response List Workflows Workflows Get"}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Caller does not have access to this workflow.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Access denied"}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"404":{"description":"Workflow, run, or job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Workflow not found"}}}},"409":{"description":"Workflow with the supplied ID already exists.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Workflow with ID 0123abcd-1234-5678-9abc-def012345678 already exists. Use update endpoint to modify existing workflows."}}}}}}},"/workflows/blocks":{"get":{"tags":["Workflow"],"summary":"List Available Blocks","description":"List all workflow block types with their input specs schemas.","operationId":"get_available_blocks_workflows_blocks_get","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BlockInfoResponse"},"title":"Response Get Available Blocks Workflows Blocks Get"}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Caller does not have access to this workflow.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Access denied"}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"404":{"description":"Workflow, run, or job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Workflow not found"}}}},"409":{"description":"Workflow with the supplied ID already exists.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Workflow with ID 0123abcd-1234-5678-9abc-def012345678 already exists. Use update endpoint to modify existing workflows."}}}}}}},"/workflows/{workflow_id}":{"get":{"tags":["Workflow"],"summary":"Get Workflow","description":"Retrieve a workflow's full details, including its block graph definition.","operationId":"get_workflow_workflows__workflow_id__get","parameters":[{"name":"workflow_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Workflow Id"}},{"name":"prefer_draft","in":"query","required":false,"schema":{"type":"boolean","default":true,"title":"Prefer Draft"}},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowResponse"}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Caller does not have access to this workflow.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Access denied"}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"404":{"description":"Workflow, run, or job not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Workflow not found"}}}},"409":{"description":"Workflow with the supplied ID already exists.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Workflow with ID 0123abcd-1234-5678-9abc-def012345678 already exists. Use update endpoint to modify existing workflows."}}}}}}},"/search/lookalike":{"post":{"tags":["Search"],"summary":"Start Lookalike Search (Async)","description":"Resolve seeds and start the async lookalike workflow.","operationId":"start_lookalike_search_endpoint_search_lookalike_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartLookalikeSearchRequest"}}}},"responses":{"202":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartLookalikeSearchResponse"}}}},"400":{"description":"Request was rejected by the route's validation rules.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid request body"}}}},"401":{"description":"Missing or invalid API key.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Invalid API key"}}}},"403":{"description":"Forwarded user_id does not belong to caller's organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Forwarded user_id does not belong to your organization."}}}},"422":{"description":"Request body failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"500":{"description":"Unexpected server error. Retry with backoff.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Internal server error"}}}},"402":{"description":"Insufficient credits or no active subscription for this organization.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Insufficient API credits"}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}},"example":{"detail":"Rate limit exceeded"}}}},"404":{"description":"Search task or export file not found.","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}}}
[...]
