{"openapi":"3.1.0","info":{"title":"Sixtyfour API","description":"Intelligence API for People and Entities. Deploy AI agents that investigate, resolve identities, map relationships, and surface risk signals","contact":{"name":"Sixtyfour","url":"https://sixtyfour.ai/","email":"support@sixtyfour.ai"},"license":{"name":"Proprietary"},"version":"1.0.0"},"servers":[{"url":"https://api.sixtyfour.ai","description":"Production"}],"paths":{"/find-email-bulk-async":{"post":{"tags":["Enrichment"],"summary":"Find Email (Bulk, Async)","description":"Find email addresses for a batch of leads; returns a job ID to poll.","operationId":"find_email_bulk_async_endpoint_find_email_bulk_async_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindEmailBulkRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/find-email-bulk":{"post":{"tags":["Enrichment"],"summary":"Find Email (Bulk, Sync)","description":"Find email addresses for a batch of leads in one call.","operationId":"find_email_bulk_endpoint_find_email_bulk_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindEmailBulkRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/find-email-async":{"post":{"tags":["Enrichment"],"summary":"Find Email (Async)","description":"Find a single person's email; returns a job ID to poll.","operationId":"find_email_async_endpoint_find_email_async_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindEmailRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/find-email":{"post":{"tags":["Enrichment"],"summary":"Find Email (Sync)","description":"Find a single person's email address.","operationId":"find_email_endpoint_find_email_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindEmailRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/find-phone-bulk-async":{"post":{"tags":["Enrichment"],"summary":"Find Phone (Bulk, Async)","description":"Find phone numbers for a batch of leads; returns a job ID to poll.","operationId":"find_phone_bulk_async_endpoint_find_phone_bulk_async_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindPhoneBulkRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/find-phone-bulk":{"post":{"tags":["Enrichment"],"summary":"Find Phone (Bulk, Sync)","description":"Find phone numbers for a batch of leads in one call.","operationId":"find_phone_bulk_endpoint_find_phone_bulk_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindPhoneBulkRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/find-phone-async":{"post":{"tags":["Enrichment"],"summary":"Find Phone (Async)","description":"Find a single person's phone number; returns a job ID to poll.","operationId":"find_phone_async_endpoint_find_phone_async_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindPhoneRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/find-phone":{"post":{"tags":["Enrichment"],"summary":"Find Phone (Sync)","description":"Find a single person's phone number.","operationId":"find_phone_endpoint_find_phone_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindPhoneRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/find-email-v2-bulk-async":{"post":{"tags":["Enrichment"],"summary":"Find Email V2 Bulk Async Endpoint","description":"V2: Find emails with full waterfall stats (provider attribution, cache hits, etc.)\n\nReturns raw waterfall response with complete metadata.","operationId":"find_email_v2_bulk_async_endpoint_find_email_v2_bulk_async_post","deprecated":true,"parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindEmailV2BulkRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/find-email-v2-bulk":{"post":{"tags":["Enrichment"],"summary":"Find Email V2 Bulk Endpoint","description":"V2: Find emails with full waterfall stats (provider attribution, cache hits, etc.)\n\nReturns raw waterfall response with complete metadata.","operationId":"find_email_v2_bulk_endpoint_find_email_v2_bulk_post","deprecated":true,"parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindEmailV2BulkRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/find-email-v2-async":{"post":{"tags":["Enrichment"],"summary":"Find Email V2 Async Endpoint","description":"V2: Find single email async with full waterfall stats.","operationId":"find_email_v2_async_endpoint_find_email_v2_async_post","deprecated":true,"parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindEmailV2Request"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/find-email-v2":{"post":{"tags":["Enrichment"],"summary":"Find Email V2 Endpoint","description":"V2: Find single email sync with full waterfall stats.","operationId":"find_email_v2_endpoint_find_email_v2_post","deprecated":true,"parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindEmailV2Request"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/find-phone-v2-bulk-async":{"post":{"tags":["Enrichment"],"summary":"Find Phone V2 Bulk Async Endpoint","description":"V2: Find phones with full waterfall stats.","operationId":"find_phone_v2_bulk_async_endpoint_find_phone_v2_bulk_async_post","deprecated":true,"parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindPhoneV2BulkRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/find-phone-v2-bulk":{"post":{"tags":["Enrichment"],"summary":"Find Phone V2 Bulk Endpoint","description":"V2: Find phones with full waterfall stats.","operationId":"find_phone_v2_bulk_endpoint_find_phone_v2_bulk_post","deprecated":true,"parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindPhoneV2BulkRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/find-phone-v2-async":{"post":{"tags":["Enrichment"],"summary":"Find Phone V2 Async Endpoint","description":"V2: Find single phone async with full waterfall stats.","operationId":"find_phone_v2_async_endpoint_find_phone_v2_async_post","deprecated":true,"parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindPhoneV2Request"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/find-phone-v2":{"post":{"tags":["Enrichment"],"summary":"Find Phone V2 Endpoint","description":"V2: Find single phone sync with full waterfall stats.","operationId":"find_phone_v2_endpoint_find_phone_v2_post","deprecated":true,"parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindPhoneV2Request"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/reverse-email-bulk-async":{"post":{"tags":["Enrichment"],"summary":"Reverse Email Lookup (Bulk, Async)","description":"Resolve people from a batch of email addresses; returns a job ID to poll.","operationId":"reverse_email_bulk_async_endpoint_reverse_email_bulk_async_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReverseEmailBulkRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/reverse-email-bulk":{"post":{"tags":["Enrichment"],"summary":"Reverse Email Lookup (Bulk, Sync)","description":"Resolve people from a batch of email addresses in one call.","operationId":"reverse_email_bulk_endpoint_reverse_email_bulk_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReverseEmailBulkRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/reverse-email-async":{"post":{"tags":["Enrichment"],"summary":"Reverse Email Lookup (Async)","description":"Resolve a person from their email address; returns a job ID to poll.","operationId":"reverse_email_async_endpoint_reverse_email_async_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReverseEmailRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/reverse-email":{"post":{"tags":["Enrichment"],"summary":"Reverse Email Lookup (Sync)","description":"Resolve a person from their email address.","operationId":"reverse_email_endpoint_reverse_email_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReverseEmailRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/reverse-phone-bulk-async":{"post":{"tags":["Enrichment"],"summary":"Reverse Phone Lookup (Bulk, Async)","description":"Resolve people from a batch of phone numbers; returns a job ID to poll.","operationId":"reverse_phone_bulk_async_endpoint_reverse_phone_bulk_async_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReversePhoneBulkRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/reverse-phone-bulk":{"post":{"tags":["Enrichment"],"summary":"Reverse Phone Lookup (Bulk, Sync)","description":"Resolve people from a batch of phone numbers in one call.","operationId":"reverse_phone_bulk_endpoint_reverse_phone_bulk_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReversePhoneBulkRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/reverse-phone-async":{"post":{"tags":["Enrichment"],"summary":"Reverse Phone Lookup (Async)","description":"Resolve a person from their phone number; returns a job ID to poll.","operationId":"reverse_phone_async_endpoint_reverse_phone_async_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReversePhoneRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/reverse-phone":{"post":{"tags":["Enrichment"],"summary":"Reverse Phone Lookup (Sync)","description":"Resolve a person from their phone number.","operationId":"reverse_phone_endpoint_reverse_phone_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReversePhoneRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/enrich-lead-async":{"post":{"tags":["Enrichment"],"summary":"Enrich Lead Async Endpoint","operationId":"enrich_lead_async_endpoint_enrich_lead_async_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichLeadInfo"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/enrich-lead":{"post":{"tags":["Enrichment"],"summary":"Enrich Lead Endpoint","operationId":"enrich_lead_endpoint_enrich_lead_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichLeadInfo"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/enrich-company-async":{"post":{"tags":["Enrichment"],"summary":"Enrich Company Async Endpoint","operationId":"enrich_company_async_endpoint_enrich_company_async_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichCompanyInfo"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/enrich-company":{"post":{"tags":["Enrichment"],"summary":"Enrich Company Endpoint","operationId":"enrich_company_endpoint_enrich_company_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichCompanyInfo"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/enrich-company-v2-async":{"post":{"tags":["Enrichment"],"summary":"Enrich Company V2 Async Endpoint","operationId":"enrich_company_v2_async_endpoint_enrich_company_v2_async_post","deprecated":true,"parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichCompanyInfo"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/enrich-company-v2":{"post":{"tags":["Enrichment"],"summary":"Enrich Company V2 Endpoint","operationId":"enrich_company_v2_endpoint_enrich_company_v2_post","deprecated":true,"parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichCompanyInfo"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/people-intelligence-async":{"post":{"tags":["Enrichment"],"summary":"People Intelligence (Async)","description":"Find and enrich a single person; returns a job ID to poll.","operationId":"people_intelligence_async_endpoint_people_intelligence_async_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichLeadInfo"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/people-intelligence":{"post":{"tags":["Enrichment"],"summary":"People Intelligence (Sync)","description":"Find and enrich a single person.","operationId":"people_intelligence_endpoint_people_intelligence_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichLeadInfo"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/company-intelligence-async":{"post":{"tags":["Enrichment"],"summary":"Company Intelligence (Async)","description":"Find and enrich a single company; returns a job ID to poll.","operationId":"company_intelligence_async_endpoint_company_intelligence_async_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichCompanyInfo"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/company-intelligence":{"post":{"tags":["Enrichment"],"summary":"Company Intelligence (Sync)","description":"Find and enrich a single company.","operationId":"company_intelligence_endpoint_company_intelligence_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichCompanyInfo"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/get-linkedin":{"post":{"tags":["Enrichment"],"summary":"Get Linkedin Endpoint","operationId":"get_linkedin_endpoint_get_linkedin_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetLinkedInRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/qa-agent-async":{"post":{"tags":["Enrichment"],"summary":"QA Agent (Async)","description":"Run a research agent that answers a question about a person or company; returns a job ID to poll.","operationId":"qa_agent_async_endpoint_qa_agent_async_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QAAgentRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/qa-agent":{"post":{"tags":["Enrichment"],"summary":"QA Agent (Sync)","description":"Run a research agent that answers a question about a person or company.","operationId":"qa_agent_endpoint_qa_agent_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QAAgentRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/research-agent-async":{"post":{"tags":["Enrichment"],"summary":"Research Agent Async Endpoint","operationId":"research_agent_async_endpoint_research_agent_async_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResearchAgentRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/research-agent":{"post":{"tags":["Enrichment"],"summary":"Research Agent Endpoint","operationId":"research_agent_endpoint_research_agent_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResearchAgentRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/job-status/{job_id}":{"get":{"tags":["Enrichment"],"summary":"Job Status","description":"Poll the status of an async job and retrieve results when complete.","operationId":"job_status_job_status__job_id__get","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","title":"Job Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/usage":{"get":{"tags":["Enrichment"],"summary":"Get Usage Stats","description":"Get usage statistics for the current machine credential.\ntime_window: Optional time window in seconds (default: 3600 = 1 hour)","operationId":"get_usage_stats_api_usage_get","parameters":[{"name":"time_window","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":3600,"title":"Time Window"}},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/enrich-linkedin":{"post":{"tags":["Enrichment"],"summary":"Enrich LinkedIn Profile","description":"Fetch a LinkedIn profile and extract structured fields in a single LLM call.","operationId":"enrich_linkedin_endpoint_enrich_linkedin_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinkedInEnrichRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/workflows/create_workflow":{"post":{"tags":["Workflow"],"summary":"Create Workflow","description":"Create a new workflow from a block graph definition.","operationId":"create_workflow_workflows_create_workflow_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateWorkflowRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/workflows/delete_workflow":{"post":{"tags":["Workflow"],"summary":"Delete Workflow","description":"Permanently delete a workflow definition. Existing run history is preserved.","operationId":"delete_workflow_workflows_delete_workflow_post","parameters":[{"name":"workflow_id","in":"query","required":true,"schema":{"type":"string","title":"Workflow Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/workflows/update_workflow":{"post":{"tags":["Workflow"],"summary":"Update Workflow","description":"Update a workflow's name, description, or block definition. Creates the workflow if it doesn't exist.","operationId":"update_workflow_workflows_update_workflow_post","parameters":[{"name":"workflow_id","in":"query","required":true,"schema":{"type":"string","title":"Workflow Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateWorkflowRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/workflows/run":{"post":{"tags":["Workflow"],"summary":"Run Workflow","description":"Start a workflow run and return a job ID for tracking. Supports per-run spec overrides via `specs_override` and webhook input via `webhook_payload`. Workflows starting with `read_csv` cannot be triggered via API.","operationId":"run_workflow_workflows_run_post","parameters":[{"name":"workflow_id","in":"query","required":true,"schema":{"type":"string","description":"Workflow ID to run","title":"Workflow Id"},"description":"Workflow ID to run"},{"name":"save_json","in":"query","required":false,"schema":{"type":"boolean","description":"Also save results as JSON","default":false,"title":"Save Json"},"description":"Also save results as JSON"},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Body_run_workflow_workflows_run_post"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowRunStartedResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/workflows/runs/{run_id}/results/download-links":{"get":{"tags":["Workflow"],"summary":"List Run Result Downloads","description":"List a workflow run's results with 15-minute signed download URLs. Use `format=json` for JSON results (requires the run to have used `save_json=true`).","operationId":"list_run_results_with_download_links_workflows_runs__run_id__results_download_links_get","parameters":[{"name":"run_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Run Id"}},{"name":"format","in":"query","required":false,"schema":{"type":"string","description":"Result format: 'csv' or 'json'","default":"csv","title":"Format"},"description":"Result format: 'csv' or 'json'"},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WorkflowResultItemWithDownload"},"title":"Response List Run Results With Download Links Workflows Runs  Run Id  Results Download Links Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/workflows/runs":{"get":{"tags":["Workflow"],"summary":"List Workflow Runs","description":"List recent workflow runs for the organization, sorted by most recent first. Optionally filter by `status` (`running`, `completed`, `cancelled`, or `active` for queued+running) and `workflow_id`.","operationId":"list_workflow_runs_workflows_runs_get","parameters":[{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by status or use 'active' for queued+running","title":"Status"},"description":"Filter by status or use 'active' for queued+running"},{"name":"workflow_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by specific workflow ID","title":"Workflow Id"},"description":"Filter by specific workflow ID"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":500,"minimum":1,"default":100,"title":"Limit"}},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WorkflowRunResponse"},"title":"Response List Workflow Runs Workflows Runs Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/workflows/cancel":{"post":{"tags":["Workflow"],"summary":"Cancel Workflow Run","description":"Cancel an in-progress workflow run.","operationId":"cancel_workflow_run_workflows_cancel_post","parameters":[{"name":"job_id","in":"query","required":false,"schema":{"type":"string","description":"Run job_id to cancel","title":"Job Id"},"description":"Run job_id to cancel"},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Body"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowCancelResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/workflows/runs/{run_id}/live_status":{"get":{"tags":["Workflow"],"summary":"Get Workflow Run (Live Status)","description":"Get the live status and per-block progress for a workflow run.","operationId":"get_workflow_run_live_status_workflows_runs__run_id__live_status_get","parameters":[{"name":"run_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Run Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowLiveStatusResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/workflows":{"get":{"tags":["Workflow"],"summary":"List Workflows","description":"List all workflows in the organization. Returns lightweight metadata without block definitions; use `GET /workflows/{workflow_id}` for the full definition.","operationId":"list_workflows_workflows_get","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WorkflowResponse"},"title":"Response List Workflows Workflows Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/workflows/blocks":{"get":{"tags":["Workflow"],"summary":"List Available Blocks","description":"List all workflow block types with their input specs schemas.","operationId":"get_available_blocks_workflows_blocks_get","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BlockInfoResponse"},"title":"Response Get Available Blocks Workflows Blocks Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/workflows/{workflow_id}":{"get":{"tags":["Workflow"],"summary":"Get Workflow","description":"Retrieve a workflow's full details, including its block graph definition.","operationId":"get_workflow_workflows__workflow_id__get","parameters":[{"name":"workflow_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Workflow Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/search/start-deep-search":{"post":{"tags":["Search"],"summary":"Start Deep Search (Async)","description":"Start a deep, agentic search from a natural language query. Returns a task ID to poll.","operationId":"start_agentic_search_endpoint_search_start_deep_search_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartAgenticSearchRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartAgenticSearchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/search/status/{task_id}":{"get":{"tags":["Search"],"summary":"Search Status Endpoint","description":"Query the status of any async search task (deep search or export).","operationId":"search_status_endpoint_search_status__task_id__get","deprecated":true,"parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","title":"Task Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgenticSearchStatusResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/search/deep-search-status/{task_id}":{"get":{"tags":["Search"],"summary":"Deep Search Status","description":"Poll the status of a deep search task and retrieve results when complete.","operationId":"agentic_search_status_endpoint_search_deep_search_status__task_id__get","parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","title":"Task Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgenticSearchStatusResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/search/download":{"get":{"tags":["Search"],"summary":"Download Search Results","description":"Generate a 15-minute signed download URL for a search result.","operationId":"download_search_result_search_download_get","parameters":[{"name":"resource_handle_id","in":"query","required":true,"schema":{"type":"string","description":"Resource handle ID for the search result","title":"Resource Handle Id"},"description":"Resource handle ID for the search result"},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DownloadSignedUrlResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/search/filter-capabilities":{"get":{"tags":["Search"],"summary":"Filter Search Capabilities","description":"Get the fields, operators, and limits supported by filter search.","operationId":"get_filter_capabilities_endpoint_search_filter_capabilities_get","parameters":[{"name":"mode","in":"query","required":false,"schema":{"type":"string","description":"Search mode: 'company' or 'people'.","default":"company","title":"Mode"},"description":"Search mode: 'company' or 'people'."},{"name":"refresh","in":"query","required":false,"schema":{"type":"boolean","description":"Force a mapping refresh instead of using cached capabilities.","default":false,"title":"Refresh"},"description":"Force a mapping refresh instead of using cached capabilities."},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterSearchCapabilitiesResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/search/start-filter-search":{"post":{"tags":["Search"],"summary":"Start Filter Search (Sync)","description":"Run a synchronous structured-filter search and return matching rows with cursor pagination.","operationId":"start_filter_search_endpoint_search_start_filter_search_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartFilterSearchRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterSearchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/search/filter-field-values":{"post":{"tags":["Search"],"summary":"Filter Field Values","description":"Get the top values by count for a single filter-search field.","operationId":"filter_field_values_endpoint_search_filter_field_values_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterFieldValuesRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterFieldValuesResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/search/query":{"post":{"tags":["Search"],"summary":"Search Query Endpoint","description":"Unified search query endpoint — accepts structured filters, LLM output, or search_id.\n\nReplaces both /start-filter-search and /browse with a single endpoint.\nProvide exactly one query source: simple_filters, filters, parsed_query, or search_id.\nUse cursor alone for pagination continuation.","operationId":"search_query_endpoint_search_query_post","deprecated":true,"parameters":[{"name":"user_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Supabase user UUID forwarded by the WebApp proxy when the caller is org-API-key-authenticated but the request originates from a logged-in dashboard user. Used to set search_history.user_id so subsequent getSearchById/replay authorization checks succeed. Ignored when auth.user_uuid is already populated (JWT auth). Validated against auth.org_id before being trusted — a forwarded UUID from a different org is rejected 403 (prevents API-key holders from forging another org's user UUID into their search_history rows).","title":"User Id"},"description":"Supabase user UUID forwarded by the WebApp proxy when the caller is org-API-key-authenticated but the request originates from a logged-in dashboard user. Used to set search_history.user_id so subsequent getSearchById/replay authorization checks succeed. Ignored when auth.user_uuid is already populated (JWT auth). Validated against auth.org_id before being trusted — a forwarded UUID from a different org is rejected 403 (prevents API-key holders from forging another org's user UUID into their search_history rows)."},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchQueryRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterSearchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/search/export":{"post":{"tags":["Search"],"summary":"Search Export Endpoint","description":"Export search results as CSV asynchronously.\n\nStarts a Temporal workflow that fetches results using parsed_query,\nconverts to CSV, and uploads to storage. Poll /search/status/{task_id}\nfor the resource_handle_id when complete.","operationId":"search_export_endpoint_search_export_post","deprecated":true,"parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveSearchRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveSearchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/org-chart/filter-capabilities":{"get":{"tags":["org-chart"],"summary":"Org Chart Filter","description":"Get the fields and operators supported by org-chart filter queries.","operationId":"org_chart_filter_capabilities_org_chart_filter_capabilities_get","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/org-chart/find-people":{"post":{"tags":["org-chart"],"summary":"Org Chart (Find People)","description":"Find specific people at a target company based on organizational structure.","operationId":"org_chart_find_people_endpoint_org_chart_find_people_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandaloneFindPeopleRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/org-chart/full":{"post":{"tags":["org-chart"],"summary":"Org Chart (Entire Organization)","description":"Build the complete organizational structure for a target company.","operationId":"org_chart_full_endpoint_org_chart_full_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandaloneFullOrgChartRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/chat":{"post":{"tags":["Chat"],"summary":"Chat Endpoint","operationId":"chat_endpoint_chat_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/chat/stop":{"post":{"tags":["Chat"],"summary":"Stop Generation Endpoint","operationId":"stop_generation_endpoint_chat_stop_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StopGenerationRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/chat/approval":{"post":{"tags":["Chat"],"summary":"Approval Endpoint","operationId":"approval_endpoint_chat_approval_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApprovalRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/chat/session/{session_id}/stream":{"get":{"tags":["Chat"],"summary":"Reconnect Stream Endpoint","operationId":"reconnect_stream_endpoint_chat_session__session_id__stream_get","parameters":[{"name":"session_id","in":"path","required":true,"schema":{"type":"string","title":"Session Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/chat/history":{"get":{"tags":["Chat"],"summary":"Chat History Endpoint","operationId":"chat_history_endpoint_chat_history_get","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatHistoryResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/chat/session/{session_id}":{"get":{"tags":["Chat"],"summary":"Get Session Messages Endpoint","operationId":"get_session_messages_endpoint_chat_session__session_id__get","parameters":[{"name":"session_id","in":"path","required":true,"schema":{"type":"string","title":"Session Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatSessionMessagesResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true},"patch":{"tags":["Chat"],"summary":"Update Session Endpoint","operationId":"update_session_endpoint_chat_session__session_id__patch","parameters":[{"name":"session_id","in":"path","required":true,"schema":{"type":"string","title":"Session Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSessionRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/chat/session/{session_id}/read":{"post":{"tags":["Chat"],"summary":"Mark Session Read Endpoint","operationId":"mark_session_read_endpoint_chat_session__session_id__read_post","parameters":[{"name":"session_id","in":"path","required":true,"schema":{"type":"string","title":"Session Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/chat/settings":{"get":{"tags":["Chat"],"summary":"Get Agent Settings Endpoint","operationId":"get_agent_settings_endpoint_chat_settings_get","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentSettingsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true},"patch":{"tags":["Chat"],"summary":"Update Agent Settings Endpoint","operationId":"update_agent_settings_endpoint_chat_settings_patch","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAgentSettingsRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentSettingsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/.well-known/oauth-authorization-server":{"get":{"tags":["OAuth"],"summary":"Oauth Authorization Server Metadata","operationId":"oauth_authorization_server_metadata__well_known_oauth_authorization_server_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}},"x-excluded":true}},"/oauth/token":{"post":{"tags":["OAuth"],"summary":"Oauth Token Endpoint","operationId":"oauth_token_endpoint_oauth_token_post","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/Body_oauth_token_endpoint_oauth_token_post"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/oauth/clients":{"post":{"tags":["OAuth"],"summary":"Create Oauth Client","operationId":"create_oauth_client_oauth_clients_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateOAuthClientRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthClientDetail"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true},"get":{"tags":["OAuth"],"summary":"List Oauth Clients","operationId":"list_oauth_clients_oauth_clients_get","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OAuthClientDetail"},"title":"Response List Oauth Clients Oauth Clients Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/oauth/clients/{client_id}":{"get":{"tags":["OAuth"],"summary":"Get Oauth Client","operationId":"get_oauth_client_oauth_clients__client_id__get","parameters":[{"name":"client_id","in":"path","required":true,"schema":{"type":"string","title":"Client Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthClientDetail"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true},"patch":{"tags":["OAuth"],"summary":"Update Oauth Client","operationId":"update_oauth_client_oauth_clients__client_id__patch","parameters":[{"name":"client_id","in":"path","required":true,"schema":{"type":"string","title":"Client Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateOAuthClientRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthClientDetail"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true},"delete":{"tags":["OAuth"],"summary":"Delete Oauth Client","operationId":"delete_oauth_client_oauth_clients__client_id__delete","parameters":[{"name":"client_id","in":"path","required":true,"schema":{"type":"string","title":"Client Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthClientDetail"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/oauth/clients/{client_id}/keys":{"post":{"tags":["OAuth"],"summary":"Upload Oauth Client Key","operationId":"upload_oauth_client_key_oauth_clients__client_id__keys_post","parameters":[{"name":"client_id","in":"path","required":true,"schema":{"type":"string","title":"Client Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadPublicKeyRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicKeyResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true},"get":{"tags":["OAuth"],"summary":"List Oauth Client Keys","operationId":"list_oauth_client_keys_oauth_clients__client_id__keys_get","parameters":[{"name":"client_id","in":"path","required":true,"schema":{"type":"string","title":"Client Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PublicKeyResponse"},"title":"Response List Oauth Client Keys Oauth Clients  Client Id  Keys Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/oauth/clients/{client_id}/keys/{kid}":{"delete":{"tags":["OAuth"],"summary":"Revoke Oauth Client Key","operationId":"revoke_oauth_client_key_oauth_clients__client_id__keys__kid__delete","parameters":[{"name":"client_id","in":"path","required":true,"schema":{"type":"string","title":"Client Id"}},{"name":"kid","in":"path","required":true,"schema":{"type":"string","title":"Kid"}},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicKeyResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/oauth/clients/{client_id}/validate-jwks":{"post":{"tags":["OAuth"],"summary":"Validate Oauth Client Jwks","operationId":"validate_oauth_client_jwks_oauth_clients__client_id__validate_jwks_post","parameters":[{"name":"client_id","in":"path","required":true,"schema":{"type":"string","title":"Client Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/workflows/interactive/start":{"post":{"tags":["Interactive Workflow"],"summary":"Start Interactive Workflow","description":"Start an interactive workflow session with a source block.","operationId":"start_interactive_workflow_workflows_interactive_start_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartInteractiveRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartInteractiveResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/workflows/interactive/{job_id}/add-block":{"post":{"tags":["Interactive Workflow"],"summary":"Add Block","description":"Add and execute the next block in an interactive workflow.","operationId":"add_block_workflows_interactive__job_id__add_block_post","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","title":"Job Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddBlockRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddBlockResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/workflows/interactive/{job_id}/finish":{"post":{"tags":["Interactive Workflow"],"summary":"Finish Interactive Workflow","description":"Signal the workflow to stop accepting blocks and finalize.","operationId":"finish_interactive_workflow_workflows_interactive__job_id__finish_post","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","title":"Job Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinishInteractiveResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/workflows/interactive/{job_id}/state":{"get":{"tags":["Interactive Workflow"],"summary":"Get Interactive State","description":"Query the current state of an interactive workflow.","operationId":"get_interactive_state_workflows_interactive__job_id__state_get","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","title":"Job Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowLiveStatusResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/workflows/interactive/{job_id}/output":{"get":{"tags":["Interactive Workflow"],"summary":"Get Block Output","description":"Get the resource handle for a block's output.","operationId":"get_block_output_workflows_interactive__job_id__output_get","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","title":"Job Id"}},{"name":"block_id","in":"query","required":true,"schema":{"type":"string","description":"Block ID whose output to retrieve","title":"Block Id"},"description":"Block ID whose output to retrieve"},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlockOutputResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/workflows/interactive/{job_id}/save":{"post":{"tags":["Interactive Workflow"],"summary":"Save Interactive Workflow","description":"Save an interactive workflow chain as a reusable workflow definition.","operationId":"save_interactive_workflow_workflows_interactive__job_id__save_post","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","title":"Job Id"}},{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveInteractiveRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/me/slack-links/confirm":{"post":{"tags":["slack-links"],"summary":"Confirm Link","description":"Verify a Slackbot-minted link token and persist the mapping.","operationId":"confirm_link_me_slack_links_confirm_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfirmLinkRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfirmLinkResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}],"x-excluded":true}},"/me/slack-links":{"get":{"tags":["slack-links"],"summary":"List My Links","description":"List all Slack accounts the current user has linked.","operationId":"list_my_links_me_slack_links_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/SlackLink"},"type":"array","title":"Response List My Links Me Slack Links Get"}}}}},"security":[{"HTTPBearer":[]}],"x-excluded":true}},"/me/slack-links/{slack_team_id}/{slack_user_id}":{"delete":{"tags":["slack-links"],"summary":"Unlink","description":"Remove a linked Slack account. Only the owner can unlink.","operationId":"unlink_me_slack_links__slack_team_id___slack_user_id__delete","security":[{"HTTPBearer":[]}],"parameters":[{"name":"slack_team_id","in":"path","required":true,"schema":{"type":"string","title":"Slack Team Id"}},{"name":"slack_user_id","in":"path","required":true,"schema":{"type":"string","title":"Slack User Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/webhooks/signing-secret":{"get":{"tags":["webhooks"],"summary":"Get active signing-secret metadata","description":"Return metadata for the org's active signing secret, or null if none exists.\n\nNever returns plaintext or raw bytes.\n\nArgs:\n    auth: Injected auth context.\n\nReturns:\n    Optional[SigningSecretMetaResponse]: Metadata, or null.","operationId":"get_signing_secret_webhooks_signing_secret_get","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/SigningSecretMetaResponse"},{"type":"null"}],"title":"Response Get Signing Secret Webhooks Signing Secret Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true},"post":{"tags":["webhooks"],"summary":"Create a signing secret","description":"Mint a new signing secret for the org.\n\nThe plaintext value is returned exactly once in this response.\nAfter this call, only the preview (``sk_whsec_••••…<last4>``) is\never shown again. There is no reveal endpoint.\n\nAny existing active secret is revoked immediately before the new one\nis inserted.  Use the ``/roll`` endpoint if you need an overlap window.\n\nArgs:\n    auth: Injected auth context.\n\nReturns:\n    CreateSigningSecretResponse: Plaintext and metadata.","operationId":"create_signing_secret_webhooks_signing_secret_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSigningSecretResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true},"delete":{"tags":["webhooks"],"summary":"Revoke the active signing secret","description":"Revoke the active signing secret for the org.\n\nAfter this call, webhooks are delivered unsigned until a new secret is\ncreated.  This is intentional — we do not silently downgrade without\nthe customer taking an explicit action.\n\nArgs:\n    auth: Injected auth context.","operationId":"delete_signing_secret_webhooks_signing_secret_delete","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}},"/webhooks/signing-secret/roll":{"post":{"tags":["webhooks"],"summary":"Roll the signing secret","description":"Roll the signing secret with an optional overlap window.\n\nDuring the overlap window both secrets are used for signing so\ncustomers can deploy updated verification code without dropped events.\n\nPass ``expire_overlap_hours=0`` for an immediate roll — use this\nif compromise is suspected.\n\nArgs:\n    body: Roll request with ``expire_overlap_hours`` (default 24).\n    auth: Injected auth context.\n\nReturns:\n    RollSigningSecretResponse: New plaintext and metadata.","operationId":"roll_signing_secret_webhooks_signing_secret_roll_post","parameters":[{"name":"x-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RollRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RollSigningSecretResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-excluded":true}}},"components":{"schemas":{"AddBlockRequest":{"properties":{"block_name":{"type":"string","title":"Block Name"},"specs":{"additionalProperties":true,"type":"object","title":"Specs"},"parent_block_id":{"type":"string","title":"Parent Block Id"}},"type":"object","required":["block_name","specs","parent_block_id"],"title":"AddBlockRequest"},"AddBlockResponse":{"properties":{"accepted":{"type":"boolean","title":"Accepted"},"block_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Block Id"},"error":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Error"}},"type":"object","required":["accepted"],"title":"AddBlockResponse"},"AgentSettingsResponse":{"properties":{"yolo_mode":{"type":"boolean","title":"Yolo Mode","default":false},"custom_prompt":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Custom Prompt"}},"type":"object","title":"AgentSettingsResponse"},"AgenticSearchStatusResponse":{"properties":{"task_id":{"type":"string","title":"Task Id","description":"Async task ID being queried."},"status":{"type":"string","title":"Status","description":"Current status (e.g. queued, running, completed, failed)."},"start_time":{"type":"string","title":"Start Time","description":"Timestamp when the task started."},"current_phase":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Current Phase","description":"Current pipeline phase index."},"progress_message":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Progress Message","description":"Human-readable progress message."},"close_time":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Close Time","description":"Timestamp when the task finished."},"resource_handle_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Resource Handle Id","description":"Handle for downloading exported results."},"total_results":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Total Results","description":"Total results found."},"exported_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Exported Count","description":"Number of results actually exported."},"error":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Error","description":"Error message if the operation failed."},"search_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Search Id","description":"Search history ID returned by a previous search."},"iterations":{"anyOf":[{"items":{"additionalProperties":true,"type":"object"},"type":"array"},{"type":"null"}],"title":"Iterations","description":"Per-iteration debug data emitted by the agent."}},"type":"object","required":["task_id","status","start_time"],"title":"AgenticSearchStatusResponse","description":"Response for checking agentic search status."},"ApprovalRequest":{"properties":{"session_id":{"type":"string","title":"Session Id"},"approval_id":{"type":"string","title":"Approval Id"},"approved":{"type":"boolean","title":"Approved"},"reason":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Reason"},"answers":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Answers"}},"type":"object","required":["session_id","approval_id","approved"],"title":"ApprovalRequest"},"Block":{"properties":{"sequence_number":{"type":"integer","title":"Sequence Number","description":"Position of the block in the workflow execution order."},"block_type":{"type":"string","title":"Block Type","description":"Category of block (e.g. 'source', 'enrich', 'output')."},"block_name":{"type":"string","title":"Block Name","description":"Registered block type name (e.g. 'enrich_lead', 'find_email')."},"specs":{"additionalProperties":true,"type":"object","title":"Specs","description":"Block-specific configuration; shape depends on `block_name`."},"block_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Block Id","description":"Stable block identifier; non-UUID values are normalized server-side."}},"type":"object","required":["sequence_number","block_type","block_name","specs"],"title":"Block","description":"A single step inside a workflow."},"BlockInfoResponse":{"properties":{"block_name":{"type":"string","title":"Block Name","description":"Registered block type name (e.g. 'enrich_lead', 'find_email')."},"specs_schema":{"additionalProperties":true,"type":"object","title":"Specs Schema","description":"JSON Schema describing the block's `specs` payload."}},"type":"object","required":["block_name","specs_schema"],"title":"BlockInfoResponse","description":"Response for block info documentation endpoint."},"BlockLiveStatus":{"properties":{"block_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Block Id","description":"Block identifier within the workflow."},"block_name":{"type":"string","title":"Block Name","description":"Registered block type name (e.g. 'enrich_lead', 'find_email')."},"sequence_number":{"type":"integer","title":"Sequence Number","description":"Position of the block in the workflow execution order."},"previous_block_ids":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Previous Block Ids","description":"IDs of upstream blocks that feed into this one."},"status":{"type":"string","title":"Status","description":"Block status: pending, running, completed, or failed."},"started_at":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Started At","description":"Timestamp when execution started."},"completed_at":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Completed At","description":"Timestamp when execution finished."},"progress_percentage":{"type":"number","title":"Progress Percentage","description":"Block progress (0-100).","default":0.0},"current_step":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Current Step","description":"Human-readable description of the current sub-step."},"processed_count":{"type":"integer","title":"Processed Count","description":"Number of items processed so far.","default":0},"total_count":{"type":"integer","title":"Total Count","description":"Total number of items to process.","default":0},"estimated_total_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Estimated Total Count","description":"Estimated total when an exact count isn't yet known."},"last_updated":{"type":"string","title":"Last Updated","description":"Timestamp of the last status update."},"error_message":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Error Message","description":"Error message if the operation failed."},"metrics":{"$ref":"#/components/schemas/BlockMetrics","description":"Per-block execution metrics."}},"type":"object","required":["block_name","sequence_number","status","last_updated","metrics"],"title":"BlockLiveStatus","description":"Live status for a single block within a workflow run."},"BlockMetrics":{"properties":{"row_count":{"type":"integer","title":"Row Count","description":"Total rows produced by the block.","default":0},"dataframe_type":{"type":"string","title":"Dataframe Type","description":"Logical row type produced (e.g. LEAD, COMPANY).","default":"LEAD"},"processed_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Processed Count","description":"Number of items processed so far."},"total_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Total Count","description":"Total number of items to process."}},"type":"object","title":"BlockMetrics","description":"Metrics for a block execution."},"BlockOutputResponse":{"properties":{"block_id":{"type":"string","title":"Block Id"},"resource_handle_id":{"type":"string","title":"Resource Handle Id"},"row_count":{"type":"integer","title":"Row Count"}},"type":"object","required":["block_id","resource_handle_id","row_count"],"title":"BlockOutputResponse"},"Body_oauth_token_endpoint_oauth_token_post":{"properties":{"grant_type":{"type":"string","title":"Grant Type"},"client_id":{"type":"string","title":"Client Id"},"client_assertion_type":{"type":"string","title":"Client Assertion Type"},"client_assertion":{"type":"string","title":"Client Assertion"},"scope":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Scope"}},"type":"object","required":["grant_type","client_id","client_assertion_type","client_assertion"],"title":"Body_oauth_token_endpoint_oauth_token_post"},"Body_run_workflow_workflows_run_post":{"properties":{"specs_override":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Specs Override","description":"Optional specs to override first block specs"},"webhook_payload":{"anyOf":[{"items":{"additionalProperties":true,"type":"object"},"type":"array"},{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Webhook Payload","description":"For API key auth only - can be a list or dict"}},"type":"object","title":"Body_run_workflow_workflows_run_post"},"ChatHistoryResponse":{"properties":{"sessions":{"items":{"$ref":"#/components/schemas/ChatSessionSummary"},"type":"array","title":"Sessions"}},"type":"object","required":["sessions"],"title":"ChatHistoryResponse"},"ChatRequest":{"properties":{"session_id":{"type":"string","title":"Session Id"},"messages":{"items":{"additionalProperties":true,"type":"object"},"type":"array","title":"Messages"},"timezone":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Timezone","default":"UTC"},"workflow_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Workflow Id"},"page_context":{"anyOf":[{"$ref":"#/components/schemas/PageContext"},{"type":"null"}]},"page_data":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Page Data"},"search_rerun":{"anyOf":[{"$ref":"#/components/schemas/SearchRerunRequest"},{"type":"null"}]},"is_onboarding":{"type":"boolean","title":"Is Onboarding","default":false}},"type":"object","required":["session_id"],"title":"ChatRequest"},"ChatSessionMessagesResponse":{"properties":{"session_id":{"type":"string","title":"Session Id"},"messages":{"items":{"additionalProperties":true,"type":"object"},"type":"array","title":"Messages"},"generating":{"type":"boolean","title":"Generating","default":false},"generation_parts":{"items":{"additionalProperties":true,"type":"object"},"type":"array","title":"Generation Parts"}},"type":"object","required":["session_id","messages"],"title":"ChatSessionMessagesResponse"},"ChatSessionSummary":{"properties":{"id":{"type":"string","title":"Id"},"title":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Title"},"workflow_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Workflow Id"},"created_at":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Created At"},"updated_at":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Updated At"},"has_unread":{"type":"boolean","title":"Has Unread","default":false}},"type":"object","required":["id"],"title":"ChatSessionSummary"},"ConfirmLinkRequest":{"properties":{"token":{"type":"string","title":"Token","description":"HS256 JWT minted by the Slackbot"}},"type":"object","required":["token"],"title":"ConfirmLinkRequest"},"ConfirmLinkResponse":{"properties":{"success":{"type":"boolean","title":"Success"},"link":{"$ref":"#/components/schemas/SlackLink"}},"type":"object","required":["success","link"],"title":"ConfirmLinkResponse"},"CreateOAuthClientRequest":{"properties":{"name":{"type":"string","maxLength":255,"minLength":1,"title":"Name"},"jwks_uri":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Jwks Uri"}},"type":"object","required":["name"],"title":"CreateOAuthClientRequest"},"CreateSigningSecretResponse":{"properties":{"plaintext":{"type":"string","title":"Plaintext"},"meta":{"$ref":"#/components/schemas/SigningSecretMetaResponse"}},"type":"object","required":["plaintext","meta"],"title":"CreateSigningSecretResponse"},"CreateWorkflowRequest":{"properties":{"workflow_name":{"type":"string","title":"Workflow Name","description":"Human-readable workflow name."},"workflow_description":{"type":"string","title":"Workflow Description","description":"Human-readable workflow description."},"workflow_definition":{"$ref":"#/components/schemas/WorkflowGraph","description":"Workflow definition as a graph of blocks and edges."},"id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Id","description":"Optional pre-generated workflow ID supplied by the client."}},"type":"object","required":["workflow_name","workflow_description","workflow_definition"],"title":"CreateWorkflowRequest"},"DownloadSignedUrlResponse":{"properties":{"url":{"type":"string","title":"Url","description":"Signed download URL."},"bucket":{"type":"string","title":"Bucket","description":"Storage bucket containing the file."},"path":{"type":"string","title":"Path","description":"Object path within the bucket."}},"type":"object","required":["url","bucket","path"],"title":"DownloadSignedUrlResponse","description":"Response for result download endpoint."},"EnrichCompanyInfo":{"properties":{"target_company":{"additionalProperties":true,"type":"object","title":"Target Company","description":"Company identifiers (e.g. company_name, domain, linkedin)."},"struct":{"additionalProperties":true,"type":"object","title":"Struct","description":"Mapping of output field name to natural-language description of what to extract."},"find_people":{"type":"boolean","title":"Find People","description":"If true, also discover key people at the company.","default":false},"people_focus_prompt":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"People Focus Prompt","description":"Natural-language description of which people to surface when find_people=true."},"lead_struct":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Lead Struct","description":"Output schema for each discovered person when find_people=true."},"research_plan":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Research Plan","description":"Optional natural-language plan that guides the research agent."},"max_iterations":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Max Iterations","description":"Maximum research iterations the agent may run.","default":8},"benchmark":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Benchmark","description":"Include timing and quality benchmark data in the response.","default":false},"tier":{"anyOf":[{"type":"string","enum":["low","medium","high"]},{"type":"null"}],"title":"Tier","description":"Quality and cost tier for the research agent."},"full_org_chart":{"type":"boolean","title":"Full Org Chart","description":"If true, return the full org chart instead of a focused list.","default":false},"webhook_url":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Webhook Url","description":"HTTPS URL that receives the result payload when the async job completes."}},"type":"object","required":["target_company","struct"],"title":"EnrichCompanyInfo"},"EnrichLeadInfo":{"properties":{"lead_info":{"additionalProperties":true,"type":"object","title":"Lead Info","description":"Lead identifiers (e.g. name, email, company, linkedin)."},"struct":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Struct","description":"Mapping of output field name to natural-language description of what to extract."},"research_plan":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Research Plan","description":"Optional natural-language plan that guides the research agent."},"max_iterations":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Max Iterations","description":"Maximum research iterations the agent may run."},"benchmark":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Benchmark","description":"Include timing and quality benchmark data in the response.","default":true},"tier":{"anyOf":[{"type":"string","enum":["low","medium","high","xhigh"]},{"type":"null"}],"title":"Tier","description":"Quality and cost tier for the research agent."},"webhook_url":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Webhook Url","description":"HTTPS URL that receives the result payload when the async job completes."}},"type":"object","required":["lead_info"],"title":"EnrichLeadInfo"},"FilterFieldCapability":{"properties":{"field":{"type":"string","title":"Field","description":"Canonical field path."},"field_type":{"type":"string","title":"Field Type","description":"Source ES mapping type (e.g. text, keyword, long)."},"nested_path":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Nested Path","description":"Nested path, if any."},"queryable":{"type":"boolean","title":"Queryable","description":"Allowed in query clauses."},"sortable":{"type":"boolean","title":"Sortable","description":"Allowed in sort clauses."},"rangeable":{"type":"boolean","title":"Rangeable","description":"Supports range operators (gt/gte/lt/lte)."},"sort_field":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sort Field","description":"Sort target when it differs from field (e.g. text fields sort via .keyword)."},"aggregation_field":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Aggregation Field","description":"Field used for terms aggregation when supports_top_values is true."},"value_type":{"type":"string","title":"Value Type","description":"Aggregation target type (keyword, long, etc.)."},"supports_top_values":{"type":"boolean","title":"Supports Top Values","description":"Supports top-values aggregation."},"supports_exact_filter_snippet":{"type":"boolean","title":"Supports Exact Filter Snippet","description":"API can return deterministic exact filter snippets."},"related_fields":{"items":{"type":"string"},"type":"array","title":"Related Fields","description":"Other paths representing the same concept (e.g. flat counterpart of nested)."},"preferred_for_exact_match":{"type":"boolean","title":"Preferred For Exact Match","description":"Recommended for simple exact-match queries over its nested counterpart.","default":false}},"type":"object","required":["field","field_type","queryable","sortable","rangeable","value_type","supports_top_values","supports_exact_filter_snippet"],"title":"FilterFieldCapability","description":"Unified per-field capability descriptor for filter-search clients."},"FilterFieldValuesRequest":{"properties":{"mode":{"type":"string","enum":["people","company"],"title":"Mode","description":"Search mode: 'people' or 'company'.","default":"company"},"field":{"type":"string","title":"Field","description":"Canonical field path to aggregate values for."},"top_k":{"type":"integer","maximum":100.0,"minimum":1.0,"title":"Top K","description":"Maximum number of top values to return.","default":25},"filters":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Filters","description":"Raw OpenSearch DSL filters that scope the aggregation."},"simple_filters":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Simple Filters","description":"MongoDB-style filters that scope the aggregation."}},"type":"object","required":["field"],"title":"FilterFieldValuesRequest","description":"Request for top values of a single field."},"FilterFieldValuesResponse":{"properties":{"mode":{"type":"string","enum":["people","company"],"title":"Mode","description":"Search mode: 'people' or 'company'.","default":"company"},"field":{"type":"string","title":"Field","description":"Field requested by the caller."},"canonical_field":{"type":"string","title":"Canonical Field","description":"Canonical field path used for aggregation."},"aggregation_field":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Aggregation Field","description":"Underlying field used for the terms aggregation."},"nested_path":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Nested Path","description":"Nested path, if any."},"value_type":{"type":"string","title":"Value Type","description":"Aggregation target type (keyword, long, etc.)."},"supports_top_values":{"type":"boolean","title":"Supports Top Values","description":"Whether this field supports top-values aggregation."},"supports_exact_filter_snippet":{"type":"boolean","title":"Supports Exact Filter Snippet","description":"Whether the response includes deterministic filter snippets."},"related_fields":{"items":{"type":"string"},"type":"array","title":"Related Fields","description":"Other field paths representing the same concept (e.g. flat counterpart of nested)."},"preferred_for_exact_match":{"type":"boolean","title":"Preferred For Exact Match","description":"Recommended for simple exact-match queries over its nested counterpart.","default":false},"total_scoped_documents":{"type":"integer","title":"Total Scoped Documents","description":"Total documents matched by the scoped query."},"request_duration_ms":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Request Duration Ms","description":"Server-side request duration in milliseconds."},"values":{"items":{"$ref":"#/components/schemas/FilterFieldValuesValue"},"type":"array","title":"Values","description":"Top values ordered by count."}},"type":"object","required":["field","canonical_field","value_type","supports_top_values","supports_exact_filter_snippet","to
[...]
